*{
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}
.contenedor{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.principalMensajeria{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100vh;
    background-color: #D4DCFF;
}
.principalMensajeria img{
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.informacionInicial{
    text-align: center;
    width: 40vw;
    height: 40vh;
}
.informacionInicial h1{
    margin-bottom: 10px;
}
.menu-contactos{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: auto;
    background-color: #E8EBE4;
}
.encabezadoUsuario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 10vh;
    border: solid 1px #BEC1BB;
}
.encabezadoUsuario p{
    font-size: 10px;
    color: rgba(128, 128, 128, 0.7);
}
.fotoUsuario{
    width: 30px;
    height: 30px;
    border-radius: 25px;
}
.informacionUsuario{
    margin-left: 8px;
    text-align: left;
}
.opcionesUsuario{
    display: flex;
    padding-left: 4rem;
    gap: 0 1.5rem;
    color: rgba(128, 128, 128, 0.7);

}
.nuevoChat{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 18vh;
    border: solid 1px #BEC1BB;   
}
.btnNuevoChat{
    padding: 0.5rem 3.5rem;
    background-color: #A491D2;
    font-size: 0.80rem;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.btnNuevoChat:hover{
    background-color: greenyellow;
    font-size: 1rem;
    padding: 0.75rem 4.5rem;
    color: black;
    transition: 0.5s;
}
.listaChat{
    width: 20vw;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    border: solid 1px #BEC1BB;
}
.contacto{
    display: flex;
    width: 99%;
    height: 9.5vh;
    border: solid 1px #BEC1BB;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}
.contacto:hover{
    background-color: lightblue;
    cursor: pointer;
}
.fotoChat{
    width: 40px;
    height: 40px;
    padding-left: 0.75rem;
    border-radius: 25px;
}
.informacionChat{
    font-size: 13px;
    flex-grow: 1;
}
.informacionChat p{
    padding-top: 3px;
    color: rgba(128, 128, 128, 0.9);
}